@use "sass:map";

$theme: (
  primary: black,
  secondary: #f5f5f5,
  tertiary: #fff,
  quaternary: #898989,
);

$piano: (
  width: 595px,
  height: 550px,
  keys: (
    "black": (
      color: map.get($theme, "primary"),
      height: 300px,
      width: 55px,
    ),
    "white": (
      color: map.get($theme, "secondary"),
      width: 85px,
    ),
  ),
);
